<footer>
    <div class="f-info">
        <div class="socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="WanderLust">&copy; WanderLust</div>
        <div class="imp-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms and Conditions</a>
        </div>
    </div>
</footer>